* {
  /*outline: 1px dotted orange;*/
  font-family: 'Oswald', sans-serif;
  color: #111;
}

header {
  width: 960px;
  max-width: 100%;
  margin: 0px auto;
  background-color: #6887F2;
  padding: 10px 0px;
}

main {
  width: 960px;
  max-width: 100%;
  margin: 0px auto;
}

footer {
  clear: both;
  width: 960px;
  max-width: 100%;
  margin: 0px auto;
  background-color: #6887F2;
  padding: 10px 0px;
}

h1 {
  margin: 0px 0px 20px 10px;
  font-family: 'Bangers', cursive;
  font-size: 3em;
  color: #111;
}

h2 {
  font-family: 'Bangers', cursive;
  font-size: 1.5em;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #111;
}

title {
  display: block;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  margin-left: .5em;
  margin-top: .25em;
  margin-bottom: .1em;
  background-color: #FFD400;
  padding: .5em;

}

.template {
  display: none;
}
