.template {
  display: none;
}

.menu {
  display: block;
}

.icon-block-menu {
  font-size: 2em;
  position: relative;
  bottom: 5px;
  left: 5px;
}

.authors, .times {
  margin-bottom: 1em;
}

.about {
  margin-top: .5em;
}

#content {
  margin-top: 1em;
}

#articles {
  width: 680px;
  max-width: 95%;
  float: left;
  padding: .5em;
}

#about-me {
  display: none;
}
