/*more styling here*/

.about-me {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .about-me {
    display: inline;
    width: 250px;
    float: right;
    background-color: #6887F2;
  }
}

#articles {
  width: 700px;
  max-width: 100%;
  float: left;
  padding: 15px;
}
