/*more styling here*/

#about-me {
  display: none;
}

#articles {
  width: 680px;
  max-width: 95%;
  float: left;
  padding: .5em;
}

.authors, .times {
  margin-bottom: .5em;
}

.about {
  margin-top: .5em;
}
