.nav-bar ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.nav-bar ul li a {
  background-color: #FFD400;
}

.nav-bar:hover ul {
  display: block;
}

.nav-bar ul li a span {
  font-family: 'Bangers', cursive;
}

.blog_entry {
  line-height: 1.25em;
  color: #111;
}

#content p {
  padding: .25em;
  line-height: 1.25em;
}

#about-me h2 {
  display: inline;
  margin: 15px 15%;
}

#about-me p {
  padding: 1em;
}

article title {
  margin-top: 1em;
  margin-bottom: .5em;
}

article h3 {
  margin: .5em 0;
}

article a {
  margin-bottom: 10px;
  color: #FFD400;
  background-color: #111;
  padding: 10px 15px;
  border-radius: 4px;
}

article a span {
  font-family: 'Oswald', sans-serif;
  color: #FFD400;
}

@media only screen and (max-width:650px) {

  header {
    margin-bottom: 20px;
  }

  .nav-bar:hover a {
    display: block;
    background-color: #FFD400;
    padding: 10px 0px;
  }
  .nav-bar:hover a:hover {
    background-color: #eee;
    color: #FFD400;
  }

  .nav-bar:hover a:hover span {
    color: #FFD400;
  }

  .icon-block-menu {
    max-width: 95%;
  }

}

@media only screen and (min-width:650px) {

  #about-me {
    display: inline;
    width: 250px;
    float: right;
    background-color: #6887F2;
  }

  .icon-block-menu {
    display: none;
  }

  .nav-bar ul {
    position: relative;
    bottom: 5px;
    display: inline;
    color: #111;
  }

  .nav-bar li {
    display: inline;
  }

  .nav-bar a {
    padding: 10px 15px;
    border-radius: 4px;
  }

  .icon-social-github, .icon-social-twitter {
    margin-left: 30px;
  }

  .icon-idea, .icon-user {
    display: none;
  }
}
